<div class="nav">
            <div class="logo">
                <img src="./assets/images/GREENMIND.png" alt="GreenMind logo">
            </div>
            
            <div class="items">
                <ul class="ul-items">
                    <li><a routerLink = '/home' routerLinkActive="active">Home</a></li>
                    <li><a routerLink = '/products' routerLinkActive="active">Products</a></li>
                </ul>
            </div>

            <div class="nav-icons">
                <ul class="ul-icons">
                    <li><a routerLink = '/cart' routerLinkActive="active"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a routerLink = '/profile' routerLinkActive="active"><i class="fa-solid fa-user"></i></a></li>
                    <li><a routerLink = '/more' routerLinkActive="active"><i class="fa-solid fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
    