*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    padding: 0 5%;
}

.logo{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 100%;
    }
    margin-right: 9%;
}
.items{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.nav-icons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-icons img{
    width: 5%;
    gap: 50px;
}
.ul-items{
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.ul-items a {
    color: #4D4D4D;
    text-decoration: none;
    transition: color 0.3s;
}

.ul-items a:hover {
    color: #000000;
}

.ul-icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.ul-icons a {
    color: #A9A9A9;
    text-decoration: none;
    transition: color 0.3s;
}

.ul-icons a:hover {
    color: #000000;
}

.ul-icons i {
    font-size: 24px;
    cursor: pointer;
}

.back {
        background-color:lightblue;
        height: 80vh;
        background-position: center center;
        display: flex;
        align-items:center; 
        justify-content:center;
        border-radius: 2%;
        margin: 5%;
    }


    .left-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
    }
    
    h1{
        font-family: fantasy;
        font-size: 450%;
        word-spacing: 10px;
        letter-spacing: 3px;
        margin-left: 40px;
        margin-bottom: 60px;
        line-height: 1.2;
    }

    .stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px; 
        margin-bottom: 30px;
    }

    .stat {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    
    .large-text {
        font-size: 3.5rem;
        font-weight: bold;
    }
    
    .small-text {
        font-size: 1.3rem;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .search-input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        margin-left: 50px;
        width: fit-content;
        position: relative;
    }
    /* Styling the input field */
#srch {
    width: 450px;  
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 7px solid white;
    border-radius: 10px;
    outline: none;
}

/* Placeholder text */
#srch::placeholder {
    color: gray;
    font-weight: bold;
    opacity: 0.8;
    text-align: left; 
    font-family: fantasy;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.search-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #808080;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #000000;
}

.middle-container{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 370px;
    margin-left: 25px;
    position:absolute;
}

.right-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
}
.rectangle-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
}
.rectangle{
    width: 60%;
    margin-top: 161px;
    margin-right: 50px;
}
.overlay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    
}
.overlay{
    width: 60%;
    margin-top: 25px;
    margin-left: 200px;
}

.plants-container{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        height: 80vh;
}

.text{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}
h3{
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 49px;
    text-align: start;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: start;
    font-size: 20px;
    margin-right: 50px;
}
button{
    color:black;
    width: 60%;
    height: 8vh;
    background-color: lightblue;
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-right: 110px;
    margin-top: 50px;
    transition: color 0.3s;
}
button:hover{
    color: grey;
}
.plant-details{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.plants-img{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-right: 250px;


}
.plants-img img{
    width: 100%;
    width:250px;
    border-radius: 10px;
    border-radius: 20px;
    
}
.vera{
    height: 50vh;
}
.vine{
    height: 50vh;
}

.cactus{
    height: 50vh;
}



.plant-names{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    gap: 55px;
    margin-right: 85%;
    
}

.plant-price{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 165px;
    margin-right: 85%;

    
}

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 31px;
    color: black;
    
}

.price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: grey;


}

.about-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    height: 80vh;
    gap: 20px;
    padding: 50px;
    margin-top: 80px;
}

.final-text{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.final-img{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    

}

.icon{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.about-us{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 49px;
    color: black;
    text-align: center;
}

.order-now{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: grey;
    text-align: center;
    width: 100%;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: center;
}

.title-details{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: grey;
    text-align: center;
    margin-left: 40px;
}

.icon img{
    width: 20%;
    position: relative;
}

.vector1{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 2%;
        margin-bottom: 110px;
    }
}
.vector2{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 2%;
        margin-bottom: 140px;
    }
}


.vector3{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 2%;
        margin-bottom: 140px;
    }
}

.see-more-btn {
    color: black;
    width: 60%;
    height: 8vh;
    background-color: lightblue;
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-right: 110px;
    margin-top: 50px;
    text-decoration: none;
    transition: color 0.3s;
}

.see-more-btn:hover {
    color: grey;
}