<!--aboutus div-->
<div class="about-details">
    <div class="final-text">
        <h3 class="about-us">About us</h3>
        <p class="order-now">Order now and appreciate the beauty of nature</p>
    </div>

    <div class="final-img">
        <div class="icon">
            <div class="circle-bg">
                <img src="./assets/images/plant.png" alt="Large assortment icon">
            </div>
            <h3 class="title">Large Assortment</h3>
            <p class="title-details">We offer many different types of products with fewer variations in each category.</p>
        </div>

        <div class="icon">
            <div class="circle-bg">
                <img src="./assets/images/cube.png" alt="Shipping icon">
            </div>
            <h3 class="title">Fast & Free Shipping</h3>
            <p class="title-details">4-day or less delivery time, free shipping and an expedited delivery option.</p>
        </div>

        <div class="icon">
            <div class="circle-bg">
                <img src="./assets/images/telephone.png" alt="Support icon">
            </div>
            <h3 class="title">24/7 Support</h3>
            <p class="title-details">4-day or less delivery time, free shipping and an expedited delivery option.</p>
        </div>
    </div>
</div>
