<div class="footer">
    <div class="left-content">
        <img src="./assets/images/GREENMIND.png" alt="">
        <h3>We help you find <br>
        your dream plant</h3>
        
        <div class="icons">
            <ul class="ul-icons">
                    <li><a href="#facebook"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#instagram"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
        </div>
        <p>© 2023 GreenMind. All rights reserved.</p>
    </div>

    <div class="right-content">
        <form class="contact-form">
            <label for="subscribe">Subscribe to receive updates</label>
            <div class="subscribe-container">
                <input type="email" id="subscribe" name="subscribe" placeholder="Email Address">
                <button type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</div>
