.back {
        background-color:lightblue;
        height: 80vh;
        background-position: center center;
        display: flex;
        align-items:center; 
        justify-content:center;
        border-radius: 2%;
        margin: 5%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

.back:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


    .left-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
    }
    
    h1{
        font-family: fantasy;
        font-size: 450%;
        word-spacing: 10px;
        letter-spacing: 3px;
        margin-left: 40px;
        margin-bottom: 60px;
        line-height: 1.2;
    }

    .stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px; 
        margin-bottom: 30px;
    }

    .stat {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    
    .large-text {
        font-size: 3.5rem;
        font-weight: bold;
    }
    
    .small-text {
        font-size: 1.3rem;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .search-input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        margin-left: 50px;
        width: fit-content;
        position: relative;
    }

#srch {
    width: 450px;  
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
}
#srch:hover {
    border: 1px solid #000000;
}

#srch::placeholder {
    color: gray;
    font-weight: bold;
    opacity: 0.8;
    text-align: left; 
    font-family: fantasy;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.search-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #808080;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #000000;
}

.middle-container{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 370px;
    margin-left: 25px;
    position:absolute;
}

.right-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
}
.rectangle-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
}
.rectangle{
    width: 60%;
    margin-top: 128px;
    margin-right: 50px;
}
.overlay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    
}
.overlay{
    width: 60%;
    margin-left: 200px;
    margin-bottom: 38px;
}
