<div class="back">
            

            <div class="left-container">
            <div class="content">

            <h1>Buy your <br>dream plants</h1>

            <div class="stats-container">
            <div class="stat">
                <span class="large-text">50+</span>
                <span class="small-text">Plant Species</span>
            </div>
            <img src="./assets/images/divider.png" alt="divider">
            <div class="stat">
                <span class="large-text">100+</span>
                <span class="small-text">Customers</span>
            </div>
        </div>
        </div>

        <div class="search-input">
            <input 
                type="search" 
                name="srch" 
                id="srch" 
                placeholder="What are you looking for?"
                [(ngModel)]="searchTerm"
                (keyup.enter)="onSearch()"
            >
        </div>
    </div>

    <div class="middle-container">
        <img src="./assets/images/arrow.png" alt="Decorative vector">

    </div>

    <div class="right-container">
        <div class="rectangle-container">
        <img src="./assets/images/rectangle.png" alt="Background rectangle" class="rectangle">
        </div>
        
        <div class="overlay-container">
            <img src="./assets/images/plant-overlay.png" alt="Plant overlay image" class="overlay">
        </div>

    </div>
</div> <!--background div-->